*~
src/ginga/build/
src/ginga/config.h
src/gingacc-cm/build/
src/gingacc-cm/config.h
src/gingacc-contextmanager/build/
src/gingacc-contextmanager/config.h
src/gingacc-dataprocessing/build/
src/gingacc-dataprocessing/config.h
src/gingacc-ic/build/
src/gingacc-ic/config.h
src/gingacc-multidevice/build/
src/gingacc-multidevice/config.h
src/gingacc-player/build/
src/gingacc-player/config.h
src/gingacc-system/build/
src/gingacc-system/config.h
src/gingacc-tsparser/build/
src/gingacc-tsparser/config.h
src/gingacc-tuner/build/
src/gingacc-tuner/config.h
src/gingacc-um/build/
src/gingacc-um/config.h
src/gingalssm/build/
src/gingalssm/config.h
src/gingancl/build/
src/gingancl/config.h
src/ncl30-converter/build/
src/ncl30-converter/config.h
src/ncl30/build/
src/ncl30/config.h
src/telemidia-util/build/
src/telemidia-util/config.h
src/util/build/
src/util/config.h
.kdev4
*.kdev4
